# Unificación de base de datos VP del departamento Calidad Fabricación - FSI

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None  # default='warn'

import os
pd.options.display.max_columns = 60

# Lista elementos

In [33]:
elementos = pd.read_csv('elementos.csv')
incidentes = pd.read_csv('incidentes.csv')
# elementos = pd.read_excel('Lista defectos.xlsx', 'Elemento')
# incidentes = pd.read_excel('Lista defectos.xlsx', 'Incidente')

# CAPS
Cargamos los datos crudos desde el excel, descartamos las columnas innecesarias y cambiamos el nombre a las columnas según la necesidad. Además creamos dos tablas, una para VP y otra para VU.

In [34]:
qcap_path = "../AUDITORIAS/CAPS/1-  PUNTO QCAP.xlsm"
caps = pd.read_excel(qcap_path, "DATOS")
caps.drop(columns=['MES', 'SEM', 'Caja de velocidades', 'Fabrica', 'Titulo defecto', 'Comentario defecto', 'Elementos', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24','Unnamed: 25','Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Taller'], inplace=True)
caps[['INC','ELE']] = caps['Codigo defecto'].str.split("-",expand=True)
caps.rename(columns={'Familia':'FLIA', 'Usina':'USINA','Tipo  vehiculo':'TIPO', 'Avance producto':'DPTO', 'Motor':'MOTOR', 'Trasmision':'TRANS', 'Version':'VERS', 'Num. de Identificacion':'PJI', 'Codigo defecto':'DEF', 'Demerito (pt)':'DEM'}, inplace=True)
# caps.head()
caps['AUDI'] = 'CAPS'
caps = caps[['AUDI','FECHA', 'USINA', 'FLIA', 'TIPO', 'PJI', 'ELE', 'INC', 'DEM', 'DPTO']]
caps.replace({'DPTO': 'TCP'}, 'PINTURA', inplace=True)
caps.replace({'DPTO': 'TCT'}, 'SOLDADURA', inplace=True)
caps = caps[caps['PJI'].notna()]
caps['PJI'] = caps['PJI'].apply(lambda x: str(int(x)))

# CAPS VP

In [35]:
filtvp = (caps['USINA']=='VP')
caps_vp = caps[filtvp]
caps_vp_generic = caps_vp[['AUDI', 'FECHA', 'FLIA', 'TIPO', 'PJI', 'ELE', 'INC', 'DEM', 'DPTO']]

# PESD VP
Cargamos los datos crudos desde el excel, descartamos las columnas innecesarias y cambiamos el nombre a las columnas.

In [36]:
pesd_vp_path = "../AUDITORIAS/PESD/VP/6-PESD VP - copia.xlsm"
pesd_vp = pd.read_excel(pesd_vp_path, "Datos crudos")
pesd_vp.drop(columns=['Mes', 'Code site', 'Point de déclaration', 'Semana2','A','B','C','D','E', 'F', 'DEFECTO','Incidente2', 'Elemento2', 'FAMILIA','DEFECTO MODELO', 'Defecto2', 'Semana', 'Mes2'], inplace=True)
pesd_vp.rename(columns={'Code Localisation':'LOC', 'DEPARTAMENTO':'DPTO', 'COD DEFECTO':'DEF','Incidente':'INC', 'Elemento':'ELE','Date de déclaration':'FECHA', 'Démérite':'DEM', 'Famille':'FLIA','Type':'TIPO', 'PJI avec défaut':'PJI', 'Code UET imputée':'UET', 'Code regroupement de pilotage':'TIPODEF'}, inplace=True)
pesd_vp.dropna(subset=['DEF'], how='any', inplace=True)
# pesd_vp = pesd_vp[pesd_vp['ELE'].notna()]
# pesd_vp = pesd_vp[pesd_vp['INC'].notna()]
pesd_vp['AUDI'] = 'PESD'
pesd_vp['ELE'] = pesd_vp['ELE'].astype(int)
pesd_vp['INC'] = pesd_vp['INC'].astype(int)
pesd_vp['PJI'] = pesd_vp['PJI'].apply(lambda x: str(int(x)))

In [37]:
pesd_vp_generic = pesd_vp[['AUDI', 'FECHA', 'FLIA', 'TIPO', 'PJI', 'ELE', 'INC', 'LOC', 'DEM', 'TIPODEF', 'DPTO', 'UET']]
pesd_vp_generic.head()

,AUDI,FECHA,FLIA,TIPO,PJI,ELE,INC,LOC,DEM,TIPODEF,DPTO,UET
0,PESD,2020-01-08,X52,B52,655200240175,4303,1270,M6,NaN,ASP,PINTURA,484.0
1,PESD,2020-01-08,X52,B52,655200250119,4146,11,NaN,NaN,GMTR,SOLDADURA,431.0
2,PESD,2020-01-08,X52,B52,655200250119,4468,1053,NaN,NaN,ASP,PINTURA,482.0
3,PESD,2020-01-08,X52,B52,655200250122,4981,11,NaN,NaN,GMTR,SOLDADURA,432.0
4,PESD,2020-01-08,X52,B52,655200250135,4306,1180,B3,NaN,ASP,PINTURA,484.0

In [38]:
pesd_vp_generic['DPTO'].replace(regex=r'^MONTAJE.*', value='MONTAJE', inplace=True)
pesd_vp_generic['DPTO'].replace(regex=r'^EMBUTI.*', value='EMBUTICION', inplace=True)

In [39]:
# month_mask = pesd_vp_generic['FECHA'].map(lambda x: x.month) == 7
# pesd_vp_generic[month_mask]
pesd_vp_generic.head()

,AUDI,FECHA,FLIA,TIPO,PJI,ELE,INC,LOC,DEM,TIPODEF,DPTO,UET
0,PESD,2020-01-08,X52,B52,655200240175,4303,1270,M6,NaN,ASP,PINTURA,484.0
1,PESD,2020-01-08,X52,B52,655200250119,4146,11,NaN,NaN,GMTR,SOLDADURA,431.0
2,PESD,2020-01-08,X52,B52,655200250119,4468,1053,NaN,NaN,ASP,PINTURA,482.0
3,PESD,2020-01-08,X52,B52,655200250122,4981,11,NaN,NaN,GMTR,SOLDADURA,432.0
4,PESD,2020-01-08,X52,B52,655200250135,4306,1180,B3,NaN,ASP,PINTURA,484.0

# SAVES VP
Cargamos los datos crudos desde el excel, descartamos las columnas innecesarias y cambiamos el nombre a las columnas.

In [40]:
saves_vp_path = "../AUDITORIAS/SAVES/VP/8-SAVES VP.xlsm"
saves_vp = pd.read_excel(saves_vp_path, "Datos")
saves_vp.drop(columns=['Año', 'Mes', 'GEOMETRIA', 'OPERADOR FUGA CHECKMAN', 'ZONA', 'PILOTO', 'DETECCION PINTURA', 'DETECCION MONTAJE', 'RETOCADOR PINTURA', 'RETOCADOR MONTAJE', 'Z', 'RETOCADOR MONTAJE','PESD', 'PUESTO FUGA CHECKMAN', 'PUESTO FUGA CSC /CSCD', 'ZONA CHECKMAN', 'OPERADOR FUGA CSC/CSCD', 'Semana', 'Fabrica', 'NA AR', 'PRO-PIE', 'DEFECTO', 'Defecto', 'ORIGEN', 'VALIDADOR','Retocador','UET'], inplace=True)
saves_vp[['INC','ELE']] = saves_vp['Codigo'].str.split("-",expand=True)
saves_vp.rename(columns={'Avance PIEZA':'PIEZA', 'Codigo':'DEF', 'Numero de fabricacion':'NFAB', 'Día':'FECHA', 'FAMILIA':'FLIA', 'Tipo  vehiculo':'TIPO', 'Motor':'MOTOR', 'Caja de velocidades':'CVELO', 'Trasmision':'TRANS', 'Version':'VERS', 'Num. de Identificacion':'PJI', 'DEMERITO':'DEM', 'GRUPOS':'TIPODEF'}, inplace=True)
# saves_vp['Avance PIEZA'].value_counts(dropna=False)
saves_vp['AUDI'] = 'SAVES'
# saves_vp.head(5)

In [41]:
saves_vp_generic = saves_vp[['AUDI', 'FECHA', 'FLIA', 'TIPO', 'PJI', 'ELE', 'INC', 'DEM', 'TIPODEF', 'DPTO']]
saves_vp_generic['TIPODEF'].replace({'ASPECTO': 'ASP', 'GEOMETRIA':'GMTR', 'MODO OPERATORIO':'MOP', 'FUNCIONAMIENTO':'FCIO', 'RUIDOS':'RDOS', 'DEGRADACION':'DGRC', 'FALTANTE':'FTES', 'NO CONFORME':'NCON'}, inplace=True)
saves_vp_generic.head()

    AUDI      FECHA FLIA TIPO           PJI   ELE   INC DEM TIPODEF       DPTO
0  SAVES 2020-01-27  X52  B52  655200530180  7166  2330  V1     ASP    MONTAJE
1  SAVES 2020-01-27  X52  BCR  655200530062  4444  1000  V2     ASP       DIVD
2  SAVES 2020-01-27  X52  BCR  655200530062  4926  0080  V2    GMTR  SOLDADURA
3  SAVES 2020-01-27  X67  F67  655200440019  4769  1190  V2     ASP  SOLDADURA
4  SAVES 2020-01-27  X67  F67  655200440024  4442  1000  V2     ASP       DIVD

# DPU VP

In [42]:
dpu_vp_path = "../AUDITORIAS/DPU/VP/DATOS 2020.xlsm"
dpu_vp = pd.read_excel(dpu_vp_path, "datos")
dpu_vp['AUDI'] = 'DPU OFF'
dpu_vp.rename(columns={'fecha':'FECHA', 'Famille':'FLIA', 'Dép.':'DPTO', 'loc':'LOC', 'Type':'TIPO', 'cod elem':'ELE', 'cod inc':'INC', 'dem':'DEM', 'Dép':'DPTO','Ate.':'TALLER', 'Code regroupement de pilotage':'TIPODEF'}, inplace=True)
# dpu_vp.drop(columns=['SEMANA','MES', 'ELEMNTO Final', 'ELEMNTO Libellé', 'Libellé localisation', 'DECLARACION UET', 'DECLARACION Equ.', 'RETOQUE UET', 'INCIDENTE Final', 'DEFECTOS', 'INCIDENTE Libellé', 'UET IMPUTACION', 'IMPUTACION Equ.', 'QRQC N1'], inplace=True)
# dpu_vp.rename(columns={'DÍA':'FECHA', 'Code regroupement de pilotage':'TIPODEF', 'IMPUTACION Ate.':'TALLER', 'IMPUTACIONUET':'UET', 'Dém.':'DEM', 'IMPUTACIONDép.':'DPTO', 'Famille':'FLIA','Type':'TIPO', 'ELEMENTO Init.':'ELE', 'INCIDENTE Init.':'INC', 'Code Localisation':'LOC'}, inplace=True)

In [43]:
dpu_vp_generic = dpu_vp[['AUDI','FECHA','PJI', 'FLIA', 'TIPO', 'ELE', 'INC', 'LOC', 'TIPODEF', 'DEM', 'DPTO', 'TALLER', 'UET']]
dpu_vp_generic['DPTO'].replace({'DCHAP':'SOLDADURA', 'DPINT':'PINTURA', 'DMONT':'MONTAJE', 'EMB':'EMBUTICION'}, inplace=True)

In [44]:
dpu_vp_generic.head()
# filt = dpu_vp_generic.PJI == 655203140057
# dpu_vp_generic[filt]

,AUDI,FECHA,PJI,FLIA,TIPO,ELE,INC,LOC,TIPODEF,DEM,DPTO,TALLER,UET
0,DPU OFF,2020-01-08,655200220091,X52,B52,4210,0006,A9,ASP,NaN,PINTURA,PTAL2,484
1,DPU OFF,2020-01-08,655200220091,X52,B52,4210,1400,B11,ASP,NaN,PINTURA,PTAL2,484
2,DPU OFF,2020-01-08,655200220091,X52,B52,4210,8700,CAP,RDOS,V2,DAT,INGEN,300
3,DPU OFF,2020-01-08,655200220091,X52,B52,4402,8700,NaN,RDOS,V2,SOLDADURA,TOLE4,431
4,DPU OFF,2020-01-08,655200220091,X52,B52,4503,1040,NaN,ASP,V1,PINTURA,PTAL1,482

# GQU

gqu_path = "../ANIMACIONES/QRQC/GQU/Datos_brutos.xlsx"
gqu = pd.read_excel(gqu_path, "Export_Data")
gqu.drop(columns=['Factoría', 'Nombre de la factoría', 'Nombre departamento', 'Descripción del defecto','Descripción', 'Fecha de creación.1', 'Código incidente de la alerta', 'Nombre taller', 'Nombre UET', 'Código elemento de la alerta'], inplace=True)
gqu.rename(columns={'Dossier de calidad':'DOSSIER', 'Origen':'ORIGEN', 'Alerta':'ALERTA', 'Fecha de creación':'FECHA', 'Nombre elemento del dossier de calidad': 'ELE', 'Localización':'LOC', 'Tipo':'TIPO', 'Código departamento':'DPTO', 'Código taller':'TALLER', 'Código UET':'UET', 'Código elemento del dossier de calidad': 'INC', 'Criticidad':'DEM'}, inplace=True)

# pd.options.display.max_columns = 500
gqu_generic = gqu[['FECHA', 'DOSSIER', 'ELE', 'INC', 'LOC', 'DEM', 'ALERTA', 'ORIGEN', 'DPTO', 'TALLER', 'UET']]
gqu_generic
# gqu[['FECHA', 'ELE', 'INC']]
# df['Name']='abc'

# DSTAR VP

In [45]:
import datetime
my_date = datetime.date.today() # if date is 01/01/2018
year, my_week, day_of_week = my_date.isocalendar()
# print("Week #" + str(my_week-1) + " of year " + str(year))
dstar_path = "../AUDITORIAS/DSTAR/VP/DSTAR KO VP S" +  str(my_week-1) + ".xlsx"
dstar = pd.read_excel(dstar_path, "Defectos")
new_header = dstar.iloc[0]
dstar = dstar[1:]
dstar.columns = new_header
dstar.rename(columns={'Fórmula PJI':'PJI', 'Famille':'FLIA', 'Code incident':'INC', 'Code élément':'ELE', 'Démérite':'DEM', 'Code Localisation':'LOC', 'Horodatage de déclaration':'FECHA', 'Code UET imputée':'UET', 'Code département imputé':'DPTO','Horodatage de retouche':'FECHA RET'}, inplace=True)
dstar['AUDI'] = 'DSTAR'
# dpu_vp.rename(columns={'fecha':'FECHA', 'Famille':'FLIA', 'Dép.':'DPTO', 'loc':'LOC', 'Type':'TIPO', 'cod elem':'ELE', 'cod inc':'INC', 'dem':'DEM', 'Dép':'DPTO','Ate.':'TALLER', 'Code regroupement de pilotage':'TIPODEF'}, inplace=True)

In [46]:
# dstar.head()
# FALTA ELE, TALLER
# FALTA VU
dstar_generic = dstar[['AUDI', 'FECHA', 'PJI', 'FLIA', 'INC', 'ELE', 'DEM', 'LOC', 'DPTO', 'UET']]
dstar_generic['DPTO'].replace({'DCHAP':'SOLDADURA', 'DPINT':'PINTURA', 'DMONT':'MONTAJE', 'EMB':'EMBUTICION'}, inplace=True)

In [47]:
dstar_generic.head()

,AUDI,FECHA,PJI,FLIA,INC,ELE,DEM,LOC,DPTO,UET
1,DSTAR,2020-07-28 08:02:21,655201110087,X67,1510,4769,NaN,Q4,PINTURA,484
2,DSTAR,2020-07-27 10:53:48,655201110087,X67,3090,8002,V1,,MONTAJE,140
3,DSTAR,2020-07-28 08:02:21,655201110087,X67,1180,4415,NaN,,PINTURA,483
4,DSTAR,2020-07-27 11:54:16,655201110105,X67,0006,4776,NaN,CDE8,PINTURA,484
5,DSTAR,2020-07-27 11:55:26,655201110105,X67,0006,4401,NaN,N4,PINTURA,484

In [48]:
table = pd.concat([caps_vp_generic, pesd_vp_generic, saves_vp_generic, dpu_vp_generic, dstar_generic], sort=True)
table = pd.merge(table, elementos, on='ELE', how='left')
table = pd.merge(table, incidentes, on='INC', how='left')

In [49]:
table['DEFECTO'] = table['ELEMENTO'] + ' ' + table['INCIDENTE']
table.to_excel("datos_vp.xlsx")

# mont_mask = main_table['FECHA'].map(lambda x: x.month) == 7
# main_table[mont_mask]['AUDI'].value_counts()