In [31]:
import pandas as pd
import numpy as np
import os 

pd.set_option('display.max_columns', None)

DATADIR = 'data/2019'

DPU = os.path.join(DATADIR, 'dpu-vu.csv')
CAPS = os.path.join(DATADIR, 'caps.csv')
SAVES = os.path.join(DATADIR, 'saves.csv')
PESD = os.path.join(DATADIR, 'pesd.csv')

# DPU

In [32]:
dpu = pd.read_csv(DPU, sep=';')

/usr/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (31,33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
dpu = dpu[['PJI', 'ELEMNTO Final', 'INCIDENTE Final', 'Code Localisation', 'Dém.', 'Code regroupement de pilotage', 'IMPUTACIONDép.', 'IMPUTACION Ate.', 'IMPUTACIONUET', 'DECLARACION Horodate', 'DECLARACION Point', 'IN/OFF Usine', 'IN/OFF Départ.']]

In [34]:
dpu.rename(columns={'Code regroupement de pilotage':'TIPODEF', 'IMPUTACION Ate.':'TALLER', 'IMPUTACIONUET':'UET', 'Dém.':'GRAVEDAD', 'IMPUTACIONDép.':'DPTO', 'Famille':'FLIA','Type':'TIPO', 'ELEMNTO Final':'ELE', 'INCIDENTE Final':'INC', 'Code Localisation':'LOC', 'IN/OFF Usine':'IN/OFF USINA', 'IN/OFF Départ.':'IN/OFF DPTO', 'DECLARACION Horodate':'FECHA', 'DECLARACION Point':'ZONA'}, inplace=True)

In [35]:
dpu['DPTO'].replace({'DCHAP':'SOLDADURA', 'DPINT':'PINTURA', 'DMONT':'MONTAJE', 'MONTVU':'MONTAJE', 'EMB':'EMBUTICION', 'DAT':'DIVD'}, inplace=True)
dpu['AUDI'] = 'DPU'

In [36]:
dpu['ZONA'].value_counts()

GSPI    73268
CSC1    29202
SRET    24351
TCM      8726
STRA     4106
BOUT     3159
GEGS     3079
FILI     2128
GSC1     1723
CM05     1664
GSFR     1657
GSFI     1570
ST2B     1559
TRI1     1271
CM02     1257
CM01     1161
SIGN     1154
FRM       817
GSTA      808
FB01      787
GSRA      689
CHAS      680
TRIM      652
ST1B      562
CM08      556
SEEB      549
R053      442
$EVE      439
CSC       388
SPIN      364
GSFA      351
GSTB      337
CM04      315
GSU2      285
CM09      279
GSC2      238
RAXL      209
R055      190
R070      183
GSDK      158
RVRO      141
ENGI      134
GSDO      133
GSCP      108
RFIN       99
PESD       99
DOS        78
CM03       71
SVRO       42
SOL3       35
SE01       33
RMON       24
GSU1       24
SAGU       19
CM06        8
CM07        4
MGRT        3
GSS6        2
SME1        1
SME3        1
Name: ZONA, dtype: int64

In [37]:
dpu

,PJI,ELE,INC,LOC,GRAVEDAD,TIPODEF,DPTO,TALLER,UET,FECHA,ZONA,IN/OFF USINA,IN/OFF DPTO,AUDI
0,655182000588,14RP,2233,,NaN,NaN,MONTAJE,CH-ME,621,27/06/2018 03:13:57 PM,R055,IN,OFF,DPU
1,655182000588,17RP,3310,,NaN,NaN,MONTAJE,CH-ME,621,27/06/2018 03:26:44 PM,R053,IN,OFF,DPU
2,655182000588,1820,0756,1A261,NaN,NaN,MONTAJE,CH-ME,621,28/06/2018 08:22:18 AM,GSFI,IN,OFF,DPU
3,655182000588,3110,0756,1A203,NaN,NaN,NaN,NaN,???,26/06/2018 10:23:21 AM,GSFA,IN,IN,DPU
4,655182000588,3308,2170,,NaN,NaN,MONTAJE,CH-ME,654,17/07/2018 10:01:57 AM,CSC,IN,OFF,DPU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172367,655200310051,4505,1001,W73,NaN,ASP,DIVD,INGEN,300,22/11/2019 06:48:50 AM,GSPI,IN,IN,DPU
172368,655200310051,4514,1180,T54,NaN,ASP,PINTURA,PTAL2,484,22/11/2019 06:48:50 AM,GSPI,IN,IN,DPU
172369,655200310051,5130,4300,,NaN,NCON,PINTURA,PTAL2,484,26/11/2019 07:14:24 AM,CSC1,OFF,OFF,DPU
172370,655200310051,5216,0240,,NaN,ASP,SQF,SQF,151,25/11/2019 10:20:15 AM,CM09,IN,IN,DPU
172371,655200310051,5691,1520,,NaN,DGRC,MONTAJE,TRIM,627,26/11/2019 07:14:24 AM,CSC1,OFF,OFF,DPU

# CAPS

In [38]:
caps = pd.read_csv(CAPS, sep=';')
caps = caps[caps['Usina']=='VU']

In [39]:
caps[['INC','ELE']] = caps['Codigo defecto'].str.split("-",expand=True)
caps.drop(columns=['MES', 'SEM', 'Caja de velocidades', 'Fabrica', 'Titulo defecto', 'Elementos', 'Motor', 'Trasmision', 'Version', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24','Unnamed: 25','Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Numero de fabricacion', 'Color', 'Codigo defecto'], inplace=True)

In [40]:
caps.rename(columns={'Familia':'FLIA', 'Usina':'USINA','Tipo  vehiculo':'TIPO', 'Avance producto':'DPTO', 'Motor':'MOTOR', 'Trasmision':'TRANS', 'Version':'VERS', 'Num. de Identificacion':'PJI', 'Codigo defecto':'DEF', 'Demerito (pt)':'GRAVEDAD', 'Taller':'TALLER', 'Comentario defecto':'DETECCION'}, inplace=True)

In [41]:
caps.replace({'DPTO': 'TCP'}, 'PINTURA', inplace=True)
caps.replace({'DPTO': 'TCT'}, 'SOLDADURA', inplace=True)

In [42]:
caps = caps[['FECHA','PJI','ELE','INC', 'DPTO', 'TALLER', 'GRAVEDAD','DETECCION']]
caps['AUDI'] = 'CAPS'

In [43]:
caps

,FECHA,PJI,ELE,INC,DPTO,TALLER,GRAVEDAD,DETECCION,AUDI
3,5/8/2019,655193220081,4389,0230,SOLDADURA,NaN,P2,ND,CAPS
11,5/8/2019,655193050227,4313,1120,PINTURA,NaN,P2,ND,CAPS
12,5/8/2019,655193230014,4119,1170,PINTURA,NaN,P2,ND,CAPS
13,5/8/2019,655193230014,4417,0210,PINTURA,NaN,P2,MR,CAPS
18,6/8/2019,655193350080,4026,0010,SOLDADURA,Partes móviles,P2,FG,CAPS
...,...,...,...,...,...,...,...,...,...
1112,2/12/2019,655194740209,4412,1450,PINTURA,NaN,P2,MR,CAPS
1114,3/12/2019,655194630019,4210,1120,PINTURA,NaN,P2,NR,CAPS
1115,3/12/2019,655194630019,4513,1180,PINTURA,NaN,P2,MR,CAPS
1116,3/12/2019,655194630019,4373,0440,PINTURA,NaN,P2,ND,CAPS
1122,4/12/2019,655190340122,4120,0180,SOLDADURA,NaN,P2,FG,CAPS

# SAVES

In [44]:
saves = pd.read_csv(SAVES, sep=';')

In [45]:
saves

,Año,Mes,Semana,Día,FAMILIA,Tipo vehiculo,Fabrica,Avance PIEZA,Motor,Caja de velocidades,Trasmision,Version,Num. de Identificacion,Numero de fabricacion,Color,Codigo,Titulo defecto,DEFECTO,DEMERITO,DPTO,COMENTARIO,ORIGEN,PRO-PIE,GEOMETRIA,DETECCION,PESD,ZONA,GRUPOS,PUESTO FUGA CSC /CSCD,OPERADOR FUGA CSC/CSCD,ZONA CHECKMAN,PUESTO FUGA CHECKMAN,OPERADOR FUGA CHECKMAN,Retocador,VALIDADOR,UET,Unnamed: 36,Unnamed: 37
0,2019,2,Sem7,11/2/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E2A,655190520042,L005632,OV369,0030-7017,JUEGO EXCESIVO-FARO ANTINIEBLA I.,NaN,V2,DIVD,NaN,NaN,NaN,NaN,ND,NaN,CSCS2,GEOMETRIA,A,SUAREZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,2,Sem7,11/2/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E1D,655190720028,L005634,OV369,1270-4513,HUELLAS-ALETA ARI.,NaN,V2,PINTURA,NaN,NaN,NaN,NaN,ND,NaN,CSCS2,ASPECTO,A,SUAREZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,2,Sem7,11/2/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E1D,655190720028,L005634,OV369,1180-4504,GRANO-PAÑO EXT DE PORTON,NaN,V2,PINTURA,NaN,NaN,NaN,NaN,ND,NaN,CSCS3,ASPECTO,D,TOLEDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,2,Sem7,12/2/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E2A,655190610064,L005695,NV676,2330-7178,RAYADO-FEU ARD EMBARQUE PORTE DE COFFRE,NaN,V2,MONTAJE,NaN,NaN,NaN,NaN,ND,NaN,CSCS3,DEGRADACION,D,TOLEDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,2,Sem7,12/2/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E2A,655190610064,L005695,NV676,1190-4373,DEPOSITO DE PARTICULAS-ENCUADRAMIENTO DE PUERT...,NaN,V2,PINTURA,NaN,NaN,NaN,NaN,MR,NaN,NaN,ASPECTO,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,2019,12,Sem49,3/12/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E3,655200230090,L014881,OV369,4450-6107,DETERIORADO-GUARDAP. PALANCA FRENO DE MANO,NaN,V1,MONTAJE,NaN,NaN,NaN,NaN,ND,NaN,CSCS1,ASPECTO,D,TOLEDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,2019,12,Sem49,3/12/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E3,655200230090,L014881,OV369,4070-4214,OBTURADOR MAL POSICIONADO-ALETA AVD.,NaN,V2,DIVD,NaN,NaN,NaN,NaN,FG,NaN,NaN,MODO OPERATORIO,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,2019,12,Sem49,4/12/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,4X4TST,E3P,655194720011,L014941,OV369,1000-4444,BURBUJAS EN MASTICO-REBATIDO DE PUERTA ARD.,NaN,V2,DIVD,NaN,NaN,NaN,NaN,ND,NaN,CSCS3,ASPECTO,I,DIAZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,2019,12,Sem49,4/12/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E3P,655194720023,L014897,OV369,1510-5215,DESCONCHADO-PARACHOQUES AV.,NaN,V2,MONTAJE,NaN,NaN,NaN,NaN,FG,NaN,NaN,DEGRADACION,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,2019,12,Sem49,4/12/2019,XND,H60A,655,MADC-S,M9T-670,1K1-027,TR4X2,E3P,655194720023,L014897,OV369,2330-4126,RAYADO-PELDAÑO D,NaN,V1,MONTAJE,NaN,NaN,NaN,NaN,FG,NaN,NaN,DEGRADACION,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
saves[['INC','ELE']] = saves['Codigo'].str.split("-",expand=True)
saves = saves[['Día','Num. de Identificacion', 'ELE', 'INC', 'DEMERITO','DPTO', 'ZONA', 'DETECCION', 'GRUPOS']]

In [47]:
saves.columns

Index(['Día', 'Num. de Identificacion', 'ELE', 'INC', 'DEMERITO', 'DPTO',
       'ZONA', 'DETECCION', 'GRUPOS'],
      dtype='object')

In [48]:
saves.rename(columns={'Día':'FECHA', 'Num. de Identificacion':'PJI', 'GRUPOS':'TIPODEF', 'DEMERITO':'GRAVEDAD'}, inplace=True)
saves['TIPODEF'].replace({'ASPECTO': 'ASP', 'GEOMETRIA':'GMTR', 'MODO OPERATORIO':'MOP', 'FUNCIONAMIENTO':'FCIO', 'RUIDOS':'RDOS', 'DEGRADACION':'DGRC', 'FALTANTE':'FTES', 'NO CONFORME':'NCON'}, inplace=True)

/home/gerac/.local/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/home/gerac/.local/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [19]:
saves['ZONA'].value_counts()

CSCS2    91
CSCS3    82
CSCS1    42
CSCD      4
Name: ZONA, dtype: int64

In [49]:
saves['AUDI'] = 'SAVES'

<ipython-input-49-369d32015ea4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  saves['AUDI'] = 'SAVES'

In [50]:
df = pd.concat([caps, saves, dpu], sort=True)

In [160]:
df[['ELE', 'INC', 'LOC']]

         ELE   INC  LOC
3       4389  0230  NaN
11      4313  1120  NaN
12      4119  1170  NaN
13      4417  0210  NaN
18      4026  0010  NaN
...      ...   ...  ...
172367  4505  1001  W73
172368  4514  1180  T54
172369  5130  4300
172370  5216  0240
172371  5691  1520

[173222 rows x 3 columns]

In [51]:
(df['ELE']+df['INC']).nunique()

4728

In [52]:
df['IN/OFF USINA'].value_counts(dropna=False, normalize=True)

IN     0.741534
OFF    0.253559
NaN    0.004907
Name: IN/OFF USINA, dtype: float64

In [53]:
df['PJI'].nunique()

8739

In [54]:
df['ELE'].nunique()

949

In [55]:
df['INC'].nunique()

333

In [77]:
len(df[df['GRAVEDAD'].isna()])

155656

In [115]:
v1total = len(dpu[dpu['GRAVEDAD']=='V1'])

In [116]:
gtotal = dpu['GRAVEDAD'].notna().sum()

In [117]:
v1total/gtotal

0.7464704474754726

In [78]:
df.groupby("AUDI")["GRAVEDAD"].count()

AUDI
CAPS       386
DPU      16716
SAVES      464
Name: GRAVEDAD, dtype: int64

In [57]:
df['TIPODEF'].value_counts(dropna='False', normalize='True')

ASP      0.559291
DGRC     0.135812
MOP      0.102431
APR      0.069520
GMTR     0.038189
NCON     0.037384
FCIO     0.020125
ELEC     0.016866
FTES     0.009957
RDOS     0.005994
FLDS     0.003505
ESTQ     0.000798
RUIDO    0.000117
RECU     0.000012
Name: TIPODEF, dtype: float64

In [29]:
df['TIPODEF'].isna().sum()

2883

In [123]:
df['TALLER'].value_counts(dropna='False')

PTAL2             67474
TOLE4             20452
SQF               16528
TOLE3             16404
CH-ME             13065
TRIM               8863
INGEN              8597
TOLE1              6339
DLI                5842
DEGVU              5376
PTAL1              2228
EMBUT               335
TOLE2               329
CDAD                 94
MONT2                78
Selladores           70
Laterales-P1         69
MONT1                44
MONT3                33
Partes móviles       24
Chapa                22
LFP                  18
Cabinas              18
Piso-Block           17
Ferrage- Caja        16
Degradaciones        15
Caja                  1
Name: TALLER, dtype: int64

In [127]:
df['TALLER'].isna().sum()

871

In [142]:
saves['FECHA']

0      11/2/2019
1      11/2/2019
2      11/2/2019
3      12/2/2019
4      12/2/2019
         ...
459    3/12/2019
460    3/12/2019
461    4/12/2019
462    4/12/2019
463    4/12/2019
Name: FECHA, Length: 464, dtype: object

In [150]:
(len(caps[caps['GRAVEDAD']=='P1'])/len(caps))*100

2.5906735751295336

In [151]:
len(caps)

386

In [152]:
df

,AUDI,DETECCION,DPTO,ELE,FECHA,GRAVEDAD,IN/OFF DPTO,IN/OFF USINA,INC,LOC,PJI,TALLER,TIPODEF,UET,ZONA
3,CAPS,ND,SOLDADURA,4389,5/8/2019,P2,NaN,NaN,0230,NaN,655193220081,NaN,NaN,NaN,NaN
11,CAPS,ND,PINTURA,4313,5/8/2019,P2,NaN,NaN,1120,NaN,655193050227,NaN,NaN,NaN,NaN
12,CAPS,ND,PINTURA,4119,5/8/2019,P2,NaN,NaN,1170,NaN,655193230014,NaN,NaN,NaN,NaN
13,CAPS,MR,PINTURA,4417,5/8/2019,P2,NaN,NaN,0210,NaN,655193230014,NaN,NaN,NaN,NaN
18,CAPS,FG,SOLDADURA,4026,6/8/2019,P2,NaN,NaN,0010,NaN,655193350080,Partes móviles,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172367,DPU,NaN,DIVD,4505,22/11/2019 06:48:50 AM,NaN,IN,IN,1001,W73,655200310051,INGEN,ASP,300,GSPI
172368,DPU,NaN,PINTURA,4514,22/11/2019 06:48:50 AM,NaN,IN,IN,1180,T54,655200310051,PTAL2,ASP,484,GSPI
172369,DPU,NaN,PINTURA,5130,26/11/2019 07:14:24 AM,NaN,OFF,OFF,4300,,655200310051,PTAL2,NCON,484,CSC1
172370,DPU,NaN,SQF,5216,25/11/2019 10:20:15 AM,NaN,IN,IN,0240,,655200310051,SQF,ASP,151,CM09
172371,DPU,NaN,MONTAJE,5691,26/11/2019 07:14:24 AM,NaN,OFF,OFF,1520,,655200310051,TRIM,DGRC,627,CSC1